{{ define "main" }}
<div class="split">
  <h1 class="title">{{.Title}}</h1>
</div>
{{ range (where .Pages ".Params.unlisted" "!=" "true") }}
<div class="split">
  <h2><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
  <span class="date">{{.Date.Format "January\u00a02,\u00a02006"}}</span>
</div>
{{ end }}
{{ end }}
