{{ define "main" }}
<div class="post">
  <div class="split">
    <h1 class="title"><a href="{{.RelPermalink}}">{{.Title}}</a></h1>
{{ if .Date }}
    <div class="date">
      {{.Date.Format "January\u00a02,\u00a02006"}}
    </div>
{{ end }}
  </div>
  {{ .Content }}
</div>
{{ end }}
