@font-face {
    font-family: "Iosevka Flare Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src: url("/fonts/IosevkaFlare-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Flare Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src: url("/fonts/IosevkaFlare-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Flare Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src: url("/fonts/IosevkaFlare-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Flare Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src: url("/fonts/IosevkaFlare-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceSans3-Regular.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceSans3-It.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceSans3-Semibold.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceSans3-SemiboldIt.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceSans3-Bold.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceSans3-BoldIt.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Serif";
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceSerif4-Regular.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Serif";
    font-weight: 400;
    font-display: swap;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceSerif4-It.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Serif";
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    font-stretch: normal;
    src: url("/fonts/SourceSerif4-Bold.ttf.woff2") format("woff2");
}

@font-face {
    font-family: "Source Serif";
    font-weight: 700;
    font-display: swap;
    font-style: italic;
    font-stretch: normal;
    src: url("/fonts/SourceSerif4-BoldIt.ttf.woff2") format("woff2");
}
